# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor[data-grammar="source q"]': [
    {
      label: 'KDB-Q'
      submenu: [
        {label: 'Find definition', command: 'kdb-q:definition'},
        {label: 'Find references', command: 'kdb-q:references'}
      ]
    }
  ]
'menu': [
  {
    'label': 'KDB-Q'
    'submenu': [
      {label: 'Find definition', command: 'kdb-q:definition'},
      {label: 'Find references', command: 'kdb-q:references'}
    ]
  }
]
